:root{
    --lt-blue: #bee6ed;
    --dk-blue: #00344a;
    --white: #ffffff;
    --black: #000000;
    --green: #2b6137;
    --font-head: "Glass Antiqua", sans-serif;
}

.glass-antiqua-regular {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--lt-blue);
}

header{
    padding-bottom: 15rem;
    margin: 0 auto;
    background-color: var(--dk-blue);
    background-image: url("/swiss-valley.jpg");
    background-size: 100%;
    align-items: center;
    top: 0;
}

h1{
    font-family: var(--font-head);
    color: var(--green);
    display: block;
    margin:  auto;
    padding: 5rem;
    text-align: center;
    top: 0;
}

nav > ul{
    font-size: larger;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 1rem auto;
    list-style: none;
    padding: 0.5rem;
    gap: 3rem;
}

a{
    text-decoration: none;
}

nav a{
    font-family: var(--font-head);
    color: var(--dk-blue);
    background-color: var(--white);
    text-decoration: none;
    padding: 1rem;
    border-radius: 50px;
}

nav a:hover{
    font-size: larger;
    transition: all 300ms;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 50px;
}

nav a:focus{
    font-size: larger;
    transition: all 300ms;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 50px;
}

#homepageh2{
    text-align: center;
    margin: 2rem 15rem;
}

h2{
    color: var(--green);
    font-family: var(--font-head);
    padding: 1rem;
}

p{
    font-family: var(--font-head);
    color: var(--dk-blue);
}

#homepageh2 p,
#content p{
    padding: 1rem;
}

h3{
    color: var(--green);
    font-family: var(--font-head);
}

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

footer{
    text-align: center;
    background-color: var(--dk-blue);
    width: 100%;
}

footer p{
    color: var(--white);
    padding: 1rem;
}

#contactgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 10rem;
    gap: 3rem;
}

span{
    color: var(--green);
}

form{
    padding-top: 5rem;
}

label, input, select, textarea{
    font-family: var(--font-head);
	display: block;
	width: 100%;
}

label{
	margin: 0 0 4px 16px;
	font-weight: bold;
}

input{
	padding: 10px;
	font-size: 1rem;
	margin-bottom: 24px;
	border-radius: 4px;
	border: inset 1px var(--green);
}

#arrow::after{
	display: block;
	content: "\25bc";
	width: 4px;
	height: 4px;
	color: var(--green);
	position: relative;
	top: -3.65rem;
	left: 18rem;
}

fieldset{
    font-family: var(--font-head);
	margin-bottom: 24px;
	border-radius: 4px;
	border-color: var(--green);
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}


legend{
	font-weight: bold;
}

#my-submit{
	margin-top: 16px;
	background-color: var(--green);
	border:none;
	color: var(--white);
	font-size: 18px;
	font-weight: bold;
	box-shadow: -6px 6px 10px var(--dk-blue);
}

input:invalid{
	border: solid 3px var(--lt-blue);
	box-shadow: -6px 6px 10px var(--dk-blue);
}

input:focus{
	outline: solid 3px var(--dk-blue);
}

#my-submit:focus{
	outline: solid 3px var(--lt-blue);
}

#my-submit:hover{
	box-shadow: -3px 3px 5px var(--dk-blue);
}

input[type="radio"] + label {
   	cursor: pointer;
	display: flex;
	align-items: center;
}

input[type="radio"] {
   	appearance: none;
   	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	border-radius: 0;
}

input[type="radio"] + label::before {
   	content: "\00a0";   
	font-size: 2.25em;
	line-height: 0.65;
   	border-radius: 50%;
   	display: inline-block;  
   	height: 20px;
   	width: 22px;
   	text-align: center;
   	margin-right: 16px;
   	border: 2px solid var(--white); 
   	background-color: var(--white);
	padding-bottom: 2px;
}

input[type="radio"]:checked + label::before {
   	content: "\2022";
   	color: var(--white);
   	background: var(--dk-teal);
}

input[type="radio"]:focus{
	outline: none;
}

input[type="radio"]:focus + label::before {
   	box-shadow: 0 0 0 2px var(--dk-teal);
}